.navigation {
  list-style: none;
  margin: 0; 
  background: #8e24aa;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(#8e24aa, 12%);
}

@media (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation:last-child {
    border-bottom: none;
  }
}
